@model sd2_mis4200_conroy.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.courseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.courseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
