@model IEnumerable<sd2_mis4200_conroy.Models.Instructor>

@{
    ViewBag.Title = "Instructors";
}

<h2>Instuctors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.instructorID }) |
                @Html.ActionLink("Details", "Details", new { id = item.instructorID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.instructorID })
            </td>
        </tr>
    }

</table>
<span class="glyphicon glyciphon-home"><</span>
<a class="btn btn-primary" @Html.ActionLink("Home", "Index", "Home")</a>
